@{
    ViewData["Title"] = "Home Page";
}
    <partial name="_Nav"></partial>
@model RegistrationUser
<div class="container">
    <div class="jumbotron">
        <h1>Welcome To My World Lets Have Some Fun...!!</h1>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <partial name="_Registration"></partial>
        </div>
        <div class="col-lg-6">
            <partial name="_UserLogin"></partial>
        </div>
    </div>
    
</div>
