<div class="container">
    <partial name="_Nav"></partial>
    <div class="col-lg-12">
        <h1>SuccessFully Logged In</h1>
        <a asp-action="Logout" class="btn btn-danger" >Logout</a>
    </div>
</div>